body {
  background-color: pink;
  font-family: helvetica, arial, sans-serif;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
h1 {
  font-family: verdana, "times new roman", serif;
}
